<%= form_for @comment, :html => { :class => "form-horizontal comment" } do |f| %>

    <% if @comment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%= error_span(@comment[:author]) %>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'form-control' %>
    </div>
    <%= error_span(@comment[:content]) %>
  </div>
  <div class="control-group">
    <%= f.label :post_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post_id, :class => 'form-control' %>
    </div>
    <%= error_span(@comment[:post_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            comments_path, :class => 'btn btn-default' %>

<% end %>
